<div class="row">
    <h1 id="nombreEdu">Educación</h1>
    <div class="col-lg-3">
        <img src="../../../assets/img/8-edu.png" class="img-fluid" id="imgEdu" alt="AP">
    </div>
    <div class="col-lg-9">
        <ul>
            <li><h1 id="instituto">Ministerio de Desarrollo Productivo Argentina</h1>
            <p id="titulo">Full Stack Developer Jr</p>-<h3><time>2021</time>-<time>2022</time></h3>
            <hr>
            </li>
        </ul>
    </div>
    <div class="col-lg-3">
        <img src="../../../assets/img/9-edu.png" class="img-fluid" id="imgEdu" alt="newton">
    </div>
    <div class="col-lg-9">
        <ul>
            <li><h1 id="instituto">Instituto Isaac Newton</h1>
            <p id="titulo">Secretaria Administrativa Contable</p>-<h3><time>2014</time>-<time>2015</time></h3>
            <hr>
            </li>
        </ul>
    </div>
    <div class="col-lg-3">
        <img src="../../../assets/img/10-edu.jpg" class="img-fluid" id="imgEdu" alt="high school">
    </div>
    <div class="col-lg-9">
        <ul>
            <li><h1 id="instituto">Secundaria Ernesto Pérez Cuesta N°4-155</h1>
            <p id="titulo">Recursos Humanos con Orientación a Lengua Extranjera</p>-<h3><time>2007</time>-<time>2009</time></h3>
            <hr>
            </li>
        </ul>
    </div>
</div>
