<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'#76C2AF'"
        [imageSrc]="'../../../assets/img/15-hello.png'"
        [imageHeight]="150"
        [imageWidth]="150"
        [showImage]="true"
        [showBackground]="false"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="15"
            [outerStrokeColor]="'#76C2AF'"
            [imageSrc]="'../../../assets/img/16-dajiahao.png'"
            [imageHeight]="170"
            [imageWidth]="170"
            [showImage]="true"
            [showBackground]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="15"
            [outerStrokeColor]="'#76C2AF'"
            [imageSrc]="'../../../assets/img/17-office.png'"
            [imageHeight]="140"
            [imageWidth]="140"
            [showImage]="true"
            [showBackground]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [outerStrokeWidth]="15"
            [outerStrokeColor]="'#76C2AF'"
            [imageSrc]="'../../../assets/img/18-html5.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showImage]="true"
            [showBackground]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [outerStrokeWidth]="15"
            [outerStrokeColor]="'#76C2AF'"
            [imageSrc]="'../../../assets/img/19-css.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showImage]="true"
            [showBackground]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [outerStrokeWidth]="15"
            [outerStrokeColor]="'#76C2AF'"
            [imageSrc]="'../../../assets/img/20-js.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showImage]="true"
            [showBackground]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
        <circle-progress
            [percent]="84"
            [radius]="100"
            [outerStrokeWidth]="15"
            [outerStrokeColor]="'#76C2AF'"
            [imageSrc]="'../../../assets/img/21-iniciativa.png'"
            [imageHeight]="120"
            [imageWidth]="120"
            [showImage]="true"
            [showBackground]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="15"
            [outerStrokeColor]="'#76C2AF'"
            [imageSrc]="'../../../assets/img/22-aprendizaje.png'"
            [imageHeight]="155"
            [imageWidth]="155"
            [showImage]="true"
            [showBackground]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
        <circle-progress
            [percent]="79"
            [radius]="100"
            [outerStrokeWidth]="15"
            [outerStrokeColor]="'#76C2AF'"
            [imageSrc]="'../../../assets/img/23-comunicacion.png'"
            [imageHeight]="155"
            [imageWidth]="155"
            [showImage]="true"
            [showBackground]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-5 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="15"
            [outerStrokeColor]="'#76C2AF'"
            [imageSrc]="'../../../assets/img/24-team-work.png'"
            [imageHeight]="155"
            [imageWidth]="155"
            [showImage]="true"
            [showBackground]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>
