<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="text-center col-sm-12 col-md-6 col-lg-4 imgTexto">
            <img src="../../../assets/img/11-proyecto.jpg" class="img-fluid proyectoImg" alt="pasteleria">
            <h3>Galería de Fotos</h3>
            <p><time>Mayo 2022</time> Se muestra delicias producidas por una pastelera</p>
        </div>
        <div class="text-center col-sm-12 col-md-6 col-lg-4 imgTexto">
            <img src="../../../assets/img/12-proyecto.jpg" class="img-fluid proyectoImg" alt="portfolio">
            <h3>Portfolio Personalizado</h3>
            <p><time>Mayo 2022</time> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nam, eaque facere voluptas maxime error?</p>
        </div>
            <div class="text-center col-sm-12 col-md-6 col-lg-4 imgTexto">
            <img src="../../../assets/img/13-proyecto.jpg" class="img-fluid proyectoImg" alt="bodega">
            <h3>Bodega</h3>
            <p><time>Mayo 2022</time> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, ea.</p>
        </div>
    </div>
</div>
