<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-3">
        <img src="../../../assets/img/7-logoBB.png" class="img-fluid" id="BB" alt="Baudron">
    </div>
    <div class="col-lg-9">
        <ul>
            <li><h1 id="establecimiento">Bodega Baudron</h1>-<h3><time>2013</time>-<time>2020</time></h3></li>
            <p id="cargo">Guía turística bilingüe</p>
            <p id="aptitudes"> La atención al público es lo principal, brindando un buen servicio en el recorrido explicando los procesos de la vitivinicultura además de una degustación bien detallada. También a cargo de la venta de los productos, el manejo de redes sociales, la agenda de turismo y la organización de eventos en época de vendimia. Además, en función de senior, a cargo de la preparación nuevos aspirantes para temporadas altas. Siempre generando un buen ambiente de trabajo incentivando a la buena comunicación y el trabajo en equipo</p>
        </ul>
    </div>
</div>