<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <div class="card mb-3" style="width: 18rem;">
            <img src="../../../assets/img/6-perfil.jpg" class="card-img-top img-fluid" alt="perfil" id="mifoto">
            <div class="card-body">
              <h1 class="card-text" id="name">Jennifer Contreras</h1>
              <p class="card-text" id="titulo">Full Stack Developer Jr</p>
            </div>
          </div>
    </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <span>
                <h1>Acerca de mí</h1>
                <p>Soy una desarrolladora web que le apasiona el diseño, 
                responsable en lo que hace y muy decidida en todo lo que se propone</p>
            </span>
        </div>
</div>