<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/1-APLogo.png" alt="apLogo" class="img-fluid" id="AP">
            <img src="../../../assets/img/2-LogosInti.png" alt="inti" class="img-fluid" id="inti">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/jennylacoste/"><i class="fa-brands fa-instagram"></i></a>
            <button type="button" class="btn btn-outline-light">Inicio Sesion</button>
        </div>
    </div>
</div>
